faiss-cpu
pypdf
ipykernel
langchain
langchain-openai
langchain-google-genai
langchain-community
langchain-groq
langchain-mistralai
langchain-nomic
groq
openai
tiktoken
python-dotenv
streamlit
streamlit-extras
unstructured #==0.11.6
# chromadb
docx2txt
python-pptx
# sentence-transformers
# Spire.Doc
# plum-dispatch==1.7.4